{include file="header" /}
		<div class="layui-container">
			<div class="layui-row layui-col-space15">
				<div class="layui-col-md8">
					<div class="fly-panel">
						<ul class="fly-list" id="ulArticle">

						</ul>

					</div>
					<div id="page" class="fly-page fly-panel"></div>
				</div>
				<div class="layui-col-md4">
					<div class="layui-card">
						<div class="layui-card-body layui-row layui-col-space10">
							<div class=" layui-col-xs8 layui-col-sm8 layui-col-md8">
								<input id="inputkey" type="text"  placeholder="输入内容搜索"  class="layui-input">
							</div>
							<div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
							<button id="btnsearch" class="layui-btn layui-btn-primary">
  									<i class="layui-icon layui-icon-search"></i> 
							</button>
							</div>
						</div>
					</div>
					

					<dl class="fly-panel fly-list-one" id="dlFuli">
						<dt class="fly-panel-title">今日福利</dt>

					</dl>

					<dl class="fly-panel fly-list-one" id="dlTopArticle">
						<dt class="fly-panel-title">热文排行</dt>

					</dl>

					<dl class="fly-panel fly-list-one" id="dlTopResource">
						<dt class="fly-panel-title">最新分享</dt>

					</dl>

					<div class="fly-panel">
						<div class="fly-panel-title">
							广而告之
						</div>
						<div class="fly-panel-main" id="divAdv">

						</div>
					</div>

				</div>
			</div>
		</div>



		<script type="text/javascript" src="__JS__/article.js"></script>

{include file="footer" /}