<div class="footer">
    <div class="container">
        <div class="footer-nav">
            <ul>
                <li><a href="#">联系我们</a> <span>|</span></li>
                <li><a href="#">关于本站</a> <span>|</span></li>
                <li><a href="#">版权声明</a> <span>|</span></li>
                <li><a href="#">友情链接</a> <span>|</span></li>
                <li><a href="#">网站地图</a> </li>
            </ul>
        </div>
        <p class="footer-desc">如有侵权请联系QQ875626088我们会在第一时间删除处理<span>|</span>陕ICP备15010238号</p>
    </div>
</div>