{extend name="layouts/cms"}
{block name='body-content'}
<form class="layui-form form-opArticle layui-form-pane">
    <div class="layui-form-item">
        <label class="layui-form-label">文章标题：</label>
        <div class="layui-input-inline">
            <input type="text" name="title" required lay-verify="required"
                   value=""
                   placeholder="请输入标题" autocomplete="off" class="layui-input article-title">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">分类</label>
        <div class="layui-input-inline">
            <select name="catalog_id" id="catalog1" lay-filter="pid">
                <option value="">请选择分类</option>
                {volist name="catalog_list" id="vo"}
                <option value="{$vo['id']}">{if condition="$vo['level'] neq 0"} |{/if}<?php echo str_repeat('-',$vo['level'] * 4) ?>{$vo['name']}</option>
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">文章配图：</label>
        <div class="layui-upload layui-input-inline">
            <button type="button" name="img_upload" class="layui-btn btn_upload_img">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
            <img class="layui-upload-img img-upload-view" src="">
        </div>
    </div>

    <input type="hidden" name="picture" class="menu-icon" value="">
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">文章摘要：</label>
        <div class="layui-input-block">
                <textarea placeholder="请输入内容" name="abstract" required
                          lay-verify="required" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">来源连接：</label>
        <div class="layui-input-inline">
            <input type="text" name="source_url"
                   value=""
                   placeholder="" autocomplete="off" class="layui-input article-title">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">文章标签：</label>
        <div class="layui-input-inline">
            <input type="text" name="tag"  required lay-verify="required"
                   value=""
                   placeholder="" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">（多个逗号隔开）</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="radio" name="status" value="1" title="发布" checked>
            <input type="radio" name="status" value="2" title="待审核">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序：</label>
        <div class="layui-input-inline">
            <input type="number" name="list_order"
                   value="0" required lay-verify="required"
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">(数字越大，排序越靠前)</div>
    </div>


    <div class="layui-form-item layui-form-text ">
        <label class="layui-form-label">文章内容：</label>
        <div class="layui-input-block div-article-content" id="editor">

        </div>

    </div>
    {:token()}
    <div class="layui-form-item">
        <div class="layui-input-block div-form-op">
            <button class="layui-btn" type="button" onclick="addArticle()">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">放弃</button>
        </div>
    </div>
</form>

{/block}

{block name='single-content'}
<script src="__CMS__/js/common.js"></script>
{load file='__EDITOR__/wangEditor.js'}
<script>



    var E = window.wangEditor
    var editor = new E('#editor')
    // 或者 var editor = new E( document.getElementById('editor') )
    // 配置服务器端地址
    editor.customConfig.uploadImgServer = "{:url('api/upload/uploadFile')}";
    editor.customConfig.uploadFileName = 'file';
    // 将 timeout 时间改为 3s
    editor.customConfig.uploadImgTimeout = 10000;
    editor.create()

    //修改按钮的点击事件
    function addArticle() {
        var content=editor.txt.html();
        var toUrl = "{:url('admin/article/add')}";
        var postData = $.param({"content":content}) + "&" + $(".form-opArticle").serialize();
        ToPostPopupsDeal(toUrl, postData);
    }



    layui.use('upload', function () {
        var upload = layui.upload;
        var tag_token = $(".tag_token").val();
        //普通图片上传
        var uploadInst = upload.render({
            elem: '.btn_upload_img'
            , type: 'images'
            , exts: 'jpg|png|gif' //设置一些后缀，用于演示前端验证和后端的验证
            //,auto:false //选择图片后是否直接上传
            //,accept:'images' //上传文件类型
            , url: "{:url('api/upload/img_file')}"
            , data: {'_token': tag_token}
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('.img-upload-view').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                dialog.tip(res.message);
                //如果上传成功
                if (res.status == 1) {
                    $('.menu-icon').val(res.data.url);
                }
            }
            , error: function () {
                //演示失败状态，并实现重传
                return layer.msg('上传失败,请重新上传');
            }
        });
    });

</script>


<script>
    layui.use(['form','element','jquery','layer'], function(){
        //时间
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate
            ,$ = layui.jquery;

        //下拉框
        // form.on('select(pid)', function(data) {
        //     var pid = data.value;
        //     $.ajax({
        //         type:"POST",
        //         url:"{:url('admin/catalog/ajaxGetCatalogByPid')}",
        //         dataType:"json",
        //         data:{'pid':pid},
        //         success:function(e){
        //             //empty() 方法从被选元素移除所有内容
        //             $("select[name='catalog2']").empty();
        //             /*var html = "<option value='0'>请选择所属门店</option>";
        //             $(e).each(function (v, k) {
        //                 html += "<option value='" + k.id + "'>" + k.username + "</option>";
        //             });*/
        //             //把遍历的数据放到select表里面
        //             var html = e;
        //             $("select[name='catalog2']").append(html);
        //             //从新刷新了一下下拉框
        //             form.render('select');
        //         }
        //     })
        // })
    });


</script>

{/block}
