{extend name='layouts/cms'}
{block name='body-content'}

<div class="demoTable">
    搜索昵称：
    <div class="layui-input-inline">
        <input type="text" id="search_key" class="layui-input" >
    </div>
    <button type="button" class="layui-btn layui-btn-sm" data-type="reload" id="searchbtn">搜索</button>
</div>

<!--头工具栏按钮 id和table头的toolbar属性绑定-->
<script type="text/html" id="zq_toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="delAll"><i class="layui-icon">&#xE640;</i>批量删除</button>
        <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="deleteAll"><i class="layui-icon">&#xE640;</i>完全删除</button>
        <button class="layui-btn layui-btn-sm" onclick="add()"><i class="layui-icon">&#xE608;</i>添加</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">回收站</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">直接删除</a>
</script>
<div class="layui-tab" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">

        <li lay-id="0">全部</li>
        <li lay-id="1">已发布</li>
        <li lay-id="2">待审核</li>
        <li lay-id="3">回收站</li>
    </ul>
</div>
<table id="demo" lay-filter="test"></table>
<script src="__CMS__/js/admins.js"></script>
<script src="__CMS__/js/common.js"></script>

<script type="text/html" id="favoriteTpl">
    <a href="{:url('admin/favorite/getFavoriteList')}?user_id={{d.id}}" class="layui-table-link" >{{ d.total_favorite }}</a>
</script>
<script type="text/html" id="avatarTpl" >
    <img  src="{{ d.picture}}" width="40px" height="40px">
</script>
<script type="text/html" id="statusTpl">
    {{#  if(d.status == 1){ }}
    已发布
    {{#  } else if(d.status == 2) { }}
    待审核
    {{#  } else { }}
    已删除
    {{#  } }}
</script>
<script>
    layui.use(['table','element'], function(){
        var table = layui.table
        ,element = layui.element;


        //第一个实例
        var tableIns = table.render({
            elem: '#demo'
            ,url: '/admin/article/getArticleList' //数据接口
            ,method : 'post'
            ,toolbar: '#zq_toolbar' //开启头工具栏，此处default：显示默认图标，可以自定义模板，详见文档
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,page: true //开启分页
            ,request: {
                pageName: 'page' //页码的参数名称，默认：page
                ,limitName: 'size' //每页数据量的参数名，默认：limit
            }
            ,parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.data //解析数据列表
                };
            }
            ,cols: [[ //表头
                {type:'checkbox', fixed: 'left'}
                ,{field: 'id', title: 'ID',  sort: true, fixed: 'left'}
                ,{field: 'title', title: '标题'}
                ,{field: 'user_name', title: '作者'}
                ,{field: 'catalog_name', title: '目录'}
                ,{field: 'wechat_name', title: '公众号'}
                ,{field: 'list_order', title: '排序',align:'center'}
                ,{field: 'picture', title: '封面',templet:'#avatarTpl'}
                ,{field: 'view', title: '浏览量'}
                ,{field: 'status', title: '状态',templet:'#statusTpl'}
                ,{field: 'abstract', title: '摘要'}
                ,{field: 'source_url', title: '来源'}
                ,{field: 'create_time', title: '时间'}
                ,{fixed: 'right',title:'操作', align:'center', width:300,toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器

            ]]
        });
        var $ = layui.$, active = {
            reload: function(){
                table.reload('demo', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        keyword:$('#search_key').val(),
                    }
                });


            },
            getCheckData: function(){ //获取选中数据
                var checkStatus = table.checkStatus('demo')
                    ,data = checkStatus.data;
                var ids = [];
                for (var i = 0; i < checkStatus.data.length; i++) {
                    ids[i] = checkStatus.data[i].id;
                }
                delAdmin(ids);
                tableIns.reload({
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
                // layer.alert(JSON.stringify(data));
                //layer.alert(JSON.stringify(ids));

            }


        };
        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        $('#searchbtn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //监听表格复选框选择
        table.on('checkbox(demo)', function(obj){
            console.log(obj)
        });
        //监听工具条
        table.on('tool(test)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                layer.msg('ID：'+ data.id + ' 的查看操作');
            } else if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                    var ids = [];
                    ids[0] = data.id;
                    //向服务端发送删除指令
                    delAdmin(ids)

                });
            } else if(obj.event === 'delete'){
                layer.confirm('真的删除么', function(index){
                    obj.del();
                    layer.close(index);
                    var ids = [];
                    ids[0] = data.id;
                    //向服务端发送删除指令
                    real_del(ids)

                });
            } else if(obj.event === 'edit'){
                //layer.alert('编辑行：<br>'+ JSON.stringify(data))
                edit(data.id);
            } else if (obj.event === 'recovery')
            {
                var ids = [];
                ids[0] = data.id;
                recovery(ids);
            }
        });


        //监听头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id)
                ,data = checkStatus.data; //获取选中的数据
            //json字符串转换成Json数据 eval("("+jsonStr+")")  /JSON.parse(jsonStr)
            data = eval("("+JSON.stringify(data)+")");
            switch(obj.event){
                case 'delAll':
                    if(data.length === 0){
                        layer.msg('请至少选择1行', { icon: 2, time: 1500 });
                    }else {
                        layer.alert('您确认要删除'+data.length+'条数据吗？', {
                            skin: 'layui-layer-molv' //样式类名layui-layer-lan或layui-layer-molv  自定义样式
                            ,closeBtn: 1    // 是否显示关闭按钮
                            ,anim: 1 //动画类型
                            ,btn: ['确定','取消'] //按钮
                            ,icon: 2    // icon
                            ,yes:function(){
                                // layer.msg('确定', { icon: 1, time: 1500 });
                                var ids = [];
                                for (var i=0;i<data.length;i++){
                                    console.debug("id:======"+data[i].id)
                                    ids[i] = checkStatus.data[i].id;
                                }
                                //发送请求到后台
                                delAdmin(ids);

                            }
                            ,btn2:function(){
                                layer.msg('好的,暂时不给您删除。',{ icon: 1, time: 1500 });
                            }
                        });
                    }
                    break;

                case 'deleteAll':
                    if(data.length === 0){
                        layer.msg('请至少选择1行', { icon: 2, time: 1500 });
                    }else {
                        layer.alert('您确认要删除'+data.length+'条数据吗？', {
                            skin: 'layui-layer-molv' //样式类名layui-layer-lan或layui-layer-molv  自定义样式
                            ,closeBtn: 1    // 是否显示关闭按钮
                            ,anim: 1 //动画类型
                            ,btn: ['确定','取消'] //按钮
                            ,icon: 2    // icon
                            ,yes:function(){
                                // layer.msg('确定', { icon: 1, time: 1500 });
                                var ids = [];
                                for (var i=0;i<data.length;i++){
                                    console.debug("id:======"+data[i].id)
                                    ids[i] = checkStatus.data[i].id;
                                }
                                //发送请求到后台
                                real_del(ids);

                            }
                            ,btn2:function(){
                                layer.msg('好的,暂时不给您删除。',{ icon: 1, time: 1500 });
                            }
                        });
                    }
                    break;

            }
        });



        //监听Tab切换，重载数据
        element.on('tab(docDemoTabBrief)', function(){


             //tab id ，更改状态
            var status = this.getAttribute('lay-id');
            if (status == 3)
            {
                var html = "<a class='layui-btn layui-btn-primary layui-btn-xs' lay-event='edit'>编辑</a>" +
                    "    <a class='layui-btn layui-btn-danger layui-btn-xs' lay-event='recovery'>还原</a>" +
                    "    <a class='layui-btn layui-btn-danger layui-btn-xs' lay-event='delete'>完全删除</a>";
            }else
            {
                var html = "<a class='layui-btn layui-btn-primary layui-btn-xs' lay-event='edit'>编辑</a>" +
                    "    <a class='layui-btn layui-btn-danger layui-btn-xs' lay-event='del'>删除</a>";
            }

            $("#barDemo").html(html);
            //tab id
            var status = this.getAttribute('lay-id');
            tableIns.reload({
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: {
                    status:status,
                }
            });

        });

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        $('#searchbtn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //监听表格复选框选择
        table.on('checkbox(demo)', function(obj){
            console.log(obj)
        });



    });





</script>

{/block}

{block name='single-content'}


<script>
    //添加
    function add() {
        var toUrl = "{:url('admin/article/add')}";
        ToOpenPopups(toUrl, '✚ 添加文章', '70%', '90%');
    }

    //根据ID修改信息
    function edit(id) {
        var toUrl = "{:url('admin/article/edit',['id'=>'AdminID'])}";
        toUrl = toUrl.replace('AdminID', id);
        ToOpenPopups(toUrl, '✎ 文章修改', '70%', '90%');
    }
    //根据菜单ID 删除菜单记录
    function delAdmin(ids) {
        var toUrl = "{:url('admin/article/deleteArticle')}";


        toUrl = toUrl.replace('AdminID', ids);
        var postData = {'ids':ids};
        $.post(
            toUrl,
            postData,
            function (result) {
                if(result.code == 0){
                    layer.msg(result.msg);
                }else{
                    //失败
                    layer.msg(result.msg);
                }
            },"JSON");

    }
    function real_del(ids) {
        var toUrl = "{:url('admin/article/realDelete')}";


        toUrl = toUrl.replace('AdminID', ids);
        var postData = {'ids':ids};
        $.post(
            toUrl,
            postData,
            function (result) {
                if(result.code == 0){
                    layer.msg(result.msg);
                }else{
                    //失败
                    layer.msg(result.msg);
                }
            },"JSON");

    }

    function recovery(ids) {
        var toUrl = "{:url('admin/article/recoveryArticle')}";
        toUrl = toUrl.replace('AdminID', ids);
        var postData = {'ids':ids};
        $.post(
            toUrl,
            postData,
            function (result) {
                if(result.code == 0){
                    layer.msg(result.msg);
                }else{
                    //失败
                    layer.msg(result.msg);
                }
            },"JSON");

    }


    $(".btn-search-navMenu").on('click', function () {
        //var str_search = $(".search_input").val();
        $(".form-search").submit();
    });

</script>

{/block}
