{extend name="common/header"}

{block name='body-content'}
    <div class="mycenter usercenter session container">
        <div class="mycenter-left">
            {include file="common/user_center_left" /}
            <div class="mycenter-list-inner care">
                {if count($list) == 0}
                    <div class="publish-text">
                        还没粉丝哦
                    </div>
                {/if}
                    <div class="people-list-inner-user">
                        {volist name="list" id="vo"}
                        <div class="people-list-item">
                            <a href="{:url('index/article/getUserArticleList',['user_id'=>$vo['follow_user_id']])}" class="people-img" style="background-image: url({$vo['avatar']})">
                            </a>
                            <div class="people-desc">
                                <div class="people-name">{$vo['nickname']}</div>
                                {if !empty($vo['fans'])}
                                <div class="people-state active" onclick="cancelFollow({$vo['follow_user_id']})">取消关注</div>
                                {else}
                                <div class="people-state" onclick="toFollow({$vo['follow_user_id']})">+关注</div>
                                {/if}

                            </div>
                        </div>
                        {/volist}

                    </div>
                {$list|raw}
                </div>
        </div>
        <div class="mycenter-right">
            <div class="recommend-user">
                <div class="title">
                    推荐用户
                </div>
                <div class="user-list">

                </div>
            </div>
        </div>
    </div>




    <script>
        $(".mycenter-list-item").on('click', function () {
            $(this).addClass("active").siblings().removeClass("active");
        })
        $(".head-img").on('click', function () {
            $("#getimg").click();
            // $("#changSrc").on('click', function () {
            // $(this).attr("src","");
            // })
        })
        $(function () {
            $("#getimg").change(function (e) {
                console.log(e, "111");
                console.log("12121")
                // $("#changSrc").attr("src","");
            })
            //+关注
            // $(".people-state").on('click', function () {
            //     $(this).html("取消关注");
            // })
            //
            // $('.people-state').on('click', function () {
            //
            //     if (!$(this).hasClass('active')) {
            //         $(this).html("取消关注").addClass('active');
            //     } else {
            //         $(this).html("+加关注").removeClass('active');
            //     }
            // });


        })

        $(document).ready(function(){
            getTopUser();

        });
        function getTopUser() {
            var toUrl = "{:url('index/user/getTopUser',['id'=>'AID'])}";
            var postData = {};
            $.post(
                toUrl,
                postData,
                function (result) {
                    if(result.code == 0){
                        var str_html = '';
                        $.each(result.data.data,function (i,e) {
                            str_html +=
                                "<a class=\"user-list-item\" href='"+e.id+"'>\n" +
                                "                        <div class=\"user-img\" style=\"background-image: url("+e.avatar+")\">\n" +
                                "                        </div>\n" +
                                "                        <div class=\"user-name\">\n" +e.nickname + "/n"+
                                "                        </div>\n" +
                                "                    </a>";
                        });
                        $(".user-list").html(str_html);
                    }else{
                        //失败
                        layer.msg(result.message);
                    }
                },"JSON");
        }

    </script>


{/block}